/* At the top level of your code */
@media screen and (min-width: 480px) {
  article {
    padding: 1rem 3rem;
  }
}

/* Nested within another conditional at-rule */
@supports (display: flex) {
  @media screen and (min-width: 480px) {
    article {
      display: flex;
    }
  }
}

div {
  background-color: black;
  color: white;
}


body {
  background-color: black;
  position: fixed;
  text-align: center;
  width: 100%;
}

h1 {
  text-align: center;
  width: 100%;
  color: white;
}

table {
align-items: center;
  color: white;
  width: 100%;
  background-color: black;
}

td, tr {
  text-align: center;
  padding: 8px;
  font-style: normal;
  font-family: "Signika", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem;
  grid-gap: 1.5rem;
  color: white;
}